html{
    font-family: 'Times New Roman', Times, serif;
}
.hatterkep{
    background-image: url(mekutlek.gif);
    background-size: cover;
}
.hatterkep2{
    background-image: url(p1.jpg);
    background-size: cover;
}
h1{
    color: gold;
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}
h2{
    color: yellow;
    text-decoration: dashed;
}
p{
    color: snow
}
.altalanos{
    font-size: 115%;
}
span{
    font-variant: small-caps;
}
#nagyfiu{
    margin: 0% 5%;
    padding: 5%;
}
.alap{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-right: 16%;
}
a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: lime;
    font-style: italic;
}
.figyelmezteto{
    background-color: wheat;
    text-align: center;
    color: rgb(rgb(46, 3, 3), rgb(14, 216, 14), rgb(40, 40, 70));
    padding: 2% 2%;
    height: 10%;
    width: 10%;
    transform: rotate(10deg);
    float: right; 
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color:orange
}
a:visited{
    color: orangered;
}
li{
    color: paleturquoise;
    font-style: oblique;
    font-weight: bold;
}
.kulonleges{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-right: 16%;
}
.fekete{
    color: black;
}
#bal{
    float: left;
    height: 40%;
    width: 45%;
}
#jobb{
    float: right;
    height: 40%;
    width: 45%;
}